.g-body{
    background-color:antiquewhite;
    
}
.p-main{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
    'header .'
    'aside main'
    'footer footer';
    justify-content: right;

    column-gap:20px;
    row-gap:20px;
    border: solid black;

}
.g-header{
    /* grid-column-start:1;
    grid-column-end:3; */
    border: red;
    grid-area:header;
    /* align-content: right;
    justify-content:right; */
    text-align: center;
}

h1{
    text-align: center;
    padding-right: 30%;
}
.g-aside{
    grid-area:aside;

}

.g-footer{
    grid-area:footer;

}



.p-main #p-headerdiv{
    justify-content: right;

}
.p-main #s-aside{

}
.p-main #s-main{
    grid-area:main;

}